body{
    background-color: #E2E4F6;
}

header{
    background-color: #E7C8DD;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: space-around;
}

img{
    max-width: 20%;
    max-height: 20%;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
